.bodyMainPage {
    background-image: url('../images/background_mainPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bodyOffer {
    background-image: url('../images/background_offer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bodyContact {
    background-image: url('../images/background_contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}