.footer-container {
    background-color: getColor("third");
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyrights {
    text-align: center;
    color: getColor("secondary");
    font-size: 12px;
}

@media #{$tabletDesktop} {
    .footer-container {
        background-color: transparent;
    }
}