.one-project-link-menu a {

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.project {
    display: flex;
    flex-direction: column;
    background-color: getColor("secondary");
    height: 760px;
    margin-top: 10px;

    &__main-img {
        width: 320px;
        height: 360px;
        margin: 0 auto;
        margin-top: 20px;
        transition: $transTransform;

        &:hover,
        &:focus {
            transform: scale(1.03);
        }
    }

    &__descr-img-small {
        width: 320px;
        height: 380px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__description {
        color: getColor("third");
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        font-size: $fontSizeSmall;
    }

    &__img-list {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }

    &__img-item {
        background-color: getColor("third");
        width: 75px;
        height: 70px;
        transition: $transTransform;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }

        &--additional {
            background-color: getColor("secondary");
            width: 75px;
            height: 70px;
        }
    }
}

.project a {

    &:hover,
    &:focus {
        cursor: zoom-in;
    }
}

@media #{$tabletDesktop} {
    .project {
        flex-direction: row;
        height: 380px;
        margin-top: 50px;

        &__img-item {
            width: 80px;
            height: 70px;

            &--additional {
                width: 80px;
            }
        }

        &__main-img {
            width: 380px;
            height: 380px;
            margin-top: 0;
        }

        &__descr-img-small {
            width: 380px;
            padding: 20px;
        }
    }
}