.small-pictures {
    width: 320px;
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
}

.description-offer {
    width: 320px;
    height: 380px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    color: getColor("third");
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        text-decoration: underline;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: #d5d5d5;
        }
    }

}

.description-offer h2 {
    font-size: $fontSizeBig;
    font-weight: 400;
}

@media #{$tabletDesktop} {
    .small-pictures {
        width: 380px;
        height: 380px;
        margin-top: 0;
    }

    .description-offer {
        width: 380px;
        padding: 20px;
    }
}