.content {
    display: flex;
    flex-direction: column;
    background-color: getColor("secondary");
    height: 760px;
    margin-top: 10px;
}

.swiper {
    width: 320px;
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
}

.description-mainPage {
    width: 320px;
    height: 380px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    color: getColor("third");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-mainPage h1 {
    font-size: $fontSizeBig;
    font-weight: 400;
}

.awards {
    display: flex;
    justify-content: space-between;
    color: getColor("primary");

    &__item {
        background-color: getColor("third");
        font-size: 13px;
        width: 70px;
        height: 70px;
        transition: $transTransform;

        &:hover,
        &:focus {
            transform: scale(1.05);
        }
    }

    &__item a {

        &:hover,
        &:focus {
            cursor: zoom-in;
        }
    }
}

@media #{$tabletDesktop} {
    .swiper {
        width: 380px;
        height: 380px;
        margin-top: 0;
    }

    .content {
        flex-direction: row;
        height: 380px;
        margin-top: 50px;
    }

    .description-mainPage {
        width: 380px;
        padding: 20px;
    }
}